.dropdown {
  z-index: 100;
  position: absolute;
  top: 45px;
  right: -19%;
  list-style: none;
  background-color: #fff;
  border: 1px solid #C4C4C4;
}
.button {
  width: 100%;
  padding: 9px 40px;
  background: #fff no-repeat 18px;
  border: none;
  color: #999999;
  &:hover {
    transition: 300ms;
    background-color: #F4F4F4;
  }
}