button.button {
  padding: 19px 50px;
  color: #fff;
  font-family: sfuiDisplayMedium, serif;
  border: 2px solid #C4C4C4;
  max-width: fit-content;
  font-weight: 500;
  line-height: 17px;
  &:hover {
    opacity: .5 !important;
    transition: 300ms;
  }
}