.circle {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 50px;
  height: 50px;
  padding: 0;
  color: #fff;
  border-radius: 50%;
  background-color: #C4C4C4;
  font-size: 28px;
  transition: 300ms;
  border: 1px solid transparent;
  &:hover {
    border: 1px solid #333333;
  }
}