.header {
  margin-bottom: 100px;
  -webkit-box-shadow: 0 10px 49px 25px rgba(222,222,222,0.5);
  -moz-box-shadow: 0 10px 49px 25px rgba(222,222,222,0.5);
  box-shadow: 0 10px 49px 25px rgba(222,222,222,0.5);
}