@font-face {
    font-family: 'sfuiDisplayMedium';
    src: local('sfuiDisplayMedium'), url('assets/fonts/SFUIDisplay/sf-ui-display-medium-58646be638f96.otf') format('truetype');
}
@font-face {
    font-family: 'sfuiDisplayLight';
    src: local('sfuiDisplayLight'), url('assets/fonts/SFUIDisplay/sf-ui-display-light-58646b33e0551.otf') format('truetype');
}
@font-face {
    font-family: 'sfuiDisplayBold';
    src: local('sfuiDisplayBold'), url('assets/fonts/SFUIDisplay/sf-ui-display-bold-58646a511e3d9.otf') format('truetype');
}

ol,ul {
    padding: 0 !important;
    margin: 0;
}
:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --red-color-prime: #DC3E22;
    --red-color-hover-prime: #EE735D;
    --red-color-disable-prime: #EA8979;
    --green-color-prime: #A8B64F;
    --green-color-hover-prime: #899441;
    --bg-gray-color-prime: #F4F4F4;
    --gray-font-color-prime: #999999;
}

a.nav__link {
    margin: 0 5px;
    padding-left: 20px;
    font-weight: 500;
    text-decoration: inherit;
    color: var(--red-color-prime);
}
a.nav__link.active {
    text-decoration: underline var(--red-color-prime);
}

a:hover {
    color: var(--red-color-hover-prime);
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-width: 320px;
    min-height: 100vh;
}

h1,h2,h3,h4,h5 {
    font-family: sfuiDisplayBold, serif;
}
h2 {
    font-size: 24px;
    line-height: 33px;
}
.icon {
    background-repeat: no-repeat;
    padding-right: 10px;
}
.logo-name {
    color: var(--red-color-prime);
    font-family: sfuiDisplayLight, serif;
    font-size: 24px;
    font-weight: 300;
}
.logo-image {
    padding-right: 10px;
}
.mb-25p {
    margin-bottom: 25px;
}
button:disabled,
button[disabled] {
    opacity: .5;
    pointer-events: none;
}